@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #f0efef;
}

.cl-formButtonPrimary {
  background-color: #63d88f !important;
  box-shadow: none !important;
}

.cl-footerActionLink {
  color: #63d88f !important;
}

.auth-btn {
  text-wrap: nowrap;
  margin: 0 10px 0 10px;
  padding: 5px 10px 5px 10px;
  color: #63d88f;
  border: 2px solid #63d88f;
  border-radius: 5px;
  background-color: white;
  text-transform: capitalize;
}

.auth-btn:hover {
  color: white;
  background-color: #63d88f;
}

.work-btn {
  color: #63d88f;
  border: 2px solid #63d88f;
  border-radius: 5px;
  background-color: white;
}

.work-btn:hover,.work-btn:focus,.work-btn:active {
  color: white !important;
  background-color: #63d88f !important;
  border: 2px solid #63d88f !important;
}

.cl-userButton-root {
  margin-right: 20px !important;
}

.my-spinner-container {
  height: 75vh;
}

.my-spinner {
  width: 75px;
  height: 75px;
  color: #63d88f;
}

.homepage-container {
  width: 100vw;
  height: 80vh;
}

.homepage-container img {
  width: 100px;
  border: none;
  mix-blend-mode: multiply;
}

.homepage-introduction-para {
  width: 60%;
}

.learn-more-btn {
  color: white;
  border: 2px solid #63d88f;
  border-radius: 5px;
  background-color: #63d88f;
}

.learn-more-btn:hover,.learn-more-btn:focus,.learn-more-btn:active {
  background-color: #43d67c !important;
  border: 2px solid #43d67c !important;
  color: white !important;
}

.feature-container {
  width: 80vw;
  margin: 15px;
}

.card-header {
  background-color: #63d88f !important;
}

.equal-height .d-flex {
  flex: 1 !important;
}

.my-form {
  width: 60vw;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px #d8d8d8, -4px -4px 10px #d8d8d8;
  background-color: white;
}

.my-form2{
  width: 100%;
}

.my-form2-label{
  font-weight: 500;
}

.my-form2-input:focus{
  outline: none;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.1), -3px -3px 2px rgba(0, 0, 0, 0.1), 3px -3px 2px rgba(0, 0, 0, 0.1), -3px 3px 2px rgba(0, 0, 0, 0.1);
}

.my-form2-btn{
  width: 60%;
  background-color: #63d88f;
  outline: none;
  border: 2px solid #63d88f;
  font-weight: 500;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.my-form2-btn:hover,.my-form2-btn:focus,.my-form2-btn:active{
  background-color: #75da9c !important;
  border: 2px solid #63d88f !important;
}

.my-pnt-table{
  width: 95vw;
}

.chat-box {
  max-height: 500px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  background-color: #f1f1f1;
  color: black !important;
}

.d-flex.justify-content-end .message {
  background-color: #007bff;
  color: white;
}

.material-symbols-outlined {
  color: red;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.chatbot {
  z-index: 1050;
}

.chatbot-window {
  width: 400px;
  height: 500px;
}

.chatbot-messages {
  max-height: calc(100% - 50px);
}

.round-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.round-button:hover{
  background-color: #43d67c !important;
  border: 2px solid #43d67c !important;
}

.bot-message,.peer-message p{
  padding: 8px;
  background-color: rgba(255, 223, 171, 0.2) !important;
}

.user-message,.your-message p{
  padding: 8px;
  background-color: rgba(128, 128, 128, 0.2) !important;
}